html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;

}
h1 {
	margin: 0;
}
header {
	background-color: blue;
	margin: 0;
}
div {
	width: 30%;
	height: 100px;
}
#left {
	background-color: pink;
	float: left;
	width: 220px;
}


#right {
	background-color: red;
	float: right;
	width: 200px;

footer {
	background-color: grey;
	clear: both;
}